/* .app-bg {
  min-height: 100vh;
  background: linear-gradient(135deg, #1c1c1c, #2a2a2a);
} */

/* body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
    135deg,
    #0f2027,
    #203a43,
    #2c5364
  );
  min-height: 100vh;
} */


/* body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
    135deg,
    #141e30,
    #243b55
  );
  min-height: 100vh;
} */


/* body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
    120deg,
    #1c1c1c,
    #383838
  );
  min-height: 100vh;
} */



/* body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
    135deg,
    #0f0c29,
    #302b63,
    #bfa06a
  );
  min-height: 100vh;
} */


